<div id='group' class="col-md-12">
{% for group in groups %}
    {% if group.1 != 0 %}
    <div class="col-sm-2">
      <h1 class="text-center" onclick='update_place_list_by_group("group", "{{group.0}}")'> {{ group.0 }} ( {{ group.1 }} )</h1>
    </div>
    {% endif %}
{% endfor %}
</div>

{% for place in places %}
  <div id='places' class="col-md-12">
    <div class="col-sm-6">
        <h1 class="form-control text-center"><a href="{% url 'place_detail' pk=place.pk %}"> {{ place.place_name }} </a></h1>
    </div>
    <div class="col-sm-2">
      <h2 class="form-control text-center">{{ place.group_name }}</h>
    </div>
    <div class="col-sm-2">
      <input name="capital"
      {% if place.capital == True %}
      checked="checked" onclick=""
      {% else %}
      onclick="place_ajax_capital_update('capital', {{place.id}}, 'on');"
      {% endif %}
      type="checkbox" style="text-align:center" />
      그룹 중심
    </div>
    <div class="col-sm-2">
      <input class="form-control btn btn-default" type="button" value="삭제" onclick="place_ajax_delete('delete', {{ place.pk }}, 'no');"/>
    </div>
    <!--<h1><a href="">{{ place.title }}</a></h1>-->
    <div class="col-sm-12">
      <p>{{ place.info|linebreaksbr }}</p>
    </div>
  </div>
{% endfor %}
